<!--Add Modal-->
<div id="addProveedores" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" class="modal fade text-left">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="ModalLabel" class="modal-title">Agregar Proveedor</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <form id="formProveedores">
            
            <div class="form-group col-md-12 mb-3">
              <label>Nombre</label>
              <input type="text" placeholder="Nombre" name="nombre" id="nombre" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-12 mb-3">
              <label>Compañia</label>
              <input type="text" placeholder="Compañia" name="compania" id="compania" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-12 mb-3">
              <label>Dirección</label>
              <input type="text" placeholder="Direccion" name="dir" id="dir" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-12 mb-3">
              <label>Código Postal</label>
              <input type="text" placeholder="Código Postal" onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" name="cp" id="cp" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-12 mb-3">
              <label>Telefono</label>
              <input type="text" placeholder="Telefono" maxlength="10" onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" name="tel" id="tel" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-12 mb-3">
              <label>Correo Electronico</label>
              <input type="email" placeholder="Correo Electronico" name="correo" id="correo" class="form-control form-control-sm">
            </div>
          <div class="pull-right">
            <button type="submit" data-dismiss="modal" id="btnAddProveedores" class="btn btn-primary">Agregar Proveedor</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Edit Modal-->
<div id="updateProveedores" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" class="modal fade text-left">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="ModalLabel" class="modal-title">Actualizar Proveedor</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <form id="formProveedoresu">
            <input type="text" name="idu" id="idu" hidden="">
            <div class="form-group col-md-12 mb-3">
              <label>Nombre</label>
              <input type="text" placeholder="Nombre" name="nombreu" id="nombreu" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-12 mb-3">
              <label>Compañia</label>
              <input type="text" placeholder="Compañia" name="companiau" id="companiau" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-12 mb-3">
              <label>Dirección</label>
              <input type="text" placeholder="Direccion" name="diru" id="diru" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-12 mb-3">
              <label>Código Postal</label>
              <input type="text" placeholder="Código Postal" onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" name="cpu" id="cpu" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-12 mb-3">
              <label>Telefono</label>
              <input type="text" placeholder="Telefono" onkeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" name="telu" id="telu" class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-12 mb-3">
              <label>Correo Electronico</label>
              <input type="email" placeholder="Correo Electronico" name="correou" id="correou" class="form-control form-control-sm">
            </div>
          <div class="pull-right">
            <button type="submit" data-dismiss="modal" id="btnUpdateProveedores" class="btn btn-primary">Actualizar Proveedor</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>